In [1]:
# Import the dependencies.
# %matplotlib inline
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2022-06-27 12:41:00,-34.4187,19.2345,67.80,46,0,4.03
1,1,Provideniya,RU,2022-06-27 12:41:00,64.3833,-173.3000,43.36,98,100,6.51
2,2,Kupang,ID,2022-06-27 12:41:01,-10.1667,123.5833,78.67,73,74,13.38
3,3,Moranbah,AU,2022-06-27 12:41:01,-22.0016,148.0466,58.35,45,76,16.96
4,4,Mar Del Plata,AR,2022-06-27 12:41:02,-38.0023,-57.5575,49.08,81,0,13.80

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
locations = city_data_df[['Lat', 'Lng']]
max_temp = city_data_df['Max Temp']
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
locations = city_data_df[['Lat', 'Lng']]
max_temp = city_data_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = city_data_df[['Lat', 'Lng']]
max_temp = city_data_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
locations = city_data_df[['Lat','Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=300, point_radius = 4)

In [10]:
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating=False, max_intensity=300, point_radius = 4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
locations = city_data_df[['Lat','Lng']]
wind_speed = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind_speed, dissipating=False, max_intensity=300, point_radius = 4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Kupang,ID,2022-06-27 12:41:01,-10.1667,123.5833,78.67,73,74,13.38
6,6,Cape Town,ZA,2022-06-27 12:39:31,-33.9258,18.4232,78.12,36,0,3.44
7,7,Rikitea,PF,2022-06-27 12:41:02,-23.1203,-134.9692,73.47,66,0,7.23
8,8,Ponta Do Sol,PT,2022-06-27 12:41:03,32.6667,-17.1000,73.71,62,26,3.27
10,10,Hilo,US,2022-06-27 12:41:04,19.7297,-155.0900,71.26,89,20,5.75
20,20,Mount Vernon,US,2022-06-27 12:39:11,40.9126,-73.8371,75.02,80,100,11.99
21,21,Khandbari,NP,2022-06-27 12:41:07,27.3747,87.2039,74.64,90,100,2.17
25,25,Sao Gabriel Da Cachoeira,BR,2022-06-27 12:41:10,-0.1303,-67.0892,73.20,94,75,3.44
26,26,Vaini,TO,2022-06-27 12:41:11,-21.2000,-175.2000,73.56,83,20,11.50
28,28,Atuona,PF,2022-06-27 12:41:12,-9.8000,-139.0333,77.52,70,1,21.65

In [15]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [16]:
preferred_cities_df.count()

City_ID       164
City          164
Country       163
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [17]:
preferred_cities_df = preferred_cities_df.dropna()

In [18]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [19]:
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
2                     Kupang      ID     78.67 -10.1667  123.5833
6                  Cape Town      ZA     78.12 -33.9258   18.4232
7                    Rikitea      PF     73.47 -23.1203 -134.9692
8               Ponta Do Sol      PT     73.71  32.6667  -17.1000
10                      Hilo      US     71.26  19.7297 -155.0900
20              Mount Vernon      US     75.02  40.9126  -73.8371
21                 Khandbari      NP     74.64  27.3747   87.2039
25  Sao Gabriel Da Cachoeira      BR     73.20  -0.1303  -67.0892
26                     Vaini      TO     73.56 -21.2000 -175.2000
28                    Atuona      PF     77.52  -9.8000 -139.0333

In [20]:
params = {
    "radius" : 5000,
    "type" : "lodging",
    "key" : g_key
}

In [21]:
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Kupang,ID,78.67,-10.1667,123.5833,Hotel On The Rock by Prasanthi
6,Cape Town,ZA,78.12,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
7,Rikitea,PF,73.47,-23.1203,-134.9692,People ThankYou
8,Ponta Do Sol,PT,73.71,32.6667,-17.1000,Hotel do Campo
10,Hilo,US,71.26,19.7297,-155.0900,Hilo Hawaiian Hotel
20,Mount Vernon,US,75.02,40.9126,-73.8371,Ramada by Wyndham Bronx
21,Khandbari,NP,74.64,27.3747,87.2039,Sainik Hotel And Lodge
25,Sao Gabriel Da Cachoeira,BR,73.20,-0.1303,-67.0892,Alarne - Área De Lazer Do Alto Rio Negro
26,Vaini,TO,73.56,-21.2000,-175.2000,Keleti Beach Resort
28,Atuona,PF,77.52,-9.8000,-139.0333,Villa Enata

In [23]:
locations = hotel_df[['Lat','Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
locations = hotel_df[['Lat','Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [26]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
locations = hotel_df[['Lat','Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))