## Deliverable 3. Create a Travel Itinerary Map.

In [29]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
import os
file_to_load = os.path.join('..','Vacation_Search','WeatherPy_vacation.csv')
vacation_df = pd.read_csv(file_to_load)
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Mahebourg,MU,70.09,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
1,3,Labuan,MY,77.36,light rain,5.2767,115.2417,Tiara Labuan Hotel
2,7,Atuona,PF,77.68,few clouds,-9.8000,-139.0333,Villa Enata
3,9,Kapaa,US,72.12,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,10,Jambi,ID,75.38,scattered clouds,-1.6000,103.6167,ASTON Jambi Hotel & Conference Center

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [34]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df['Max Temp']
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating=False, max_intensity=300, point_radius=4)
# fig.add_layer(heat_layer)
marker_layer = gmaps.marker_layer(locations, info_box_content = vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Griffith"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Griffith"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Evanston"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Baraboo"] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Dubuque"]

In [27]:
# vacation_start.head()
(vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])

(41.5284, -87.4237)

In [30]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])

In [32]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
path = gmaps.directions_layer(start, end, waypoints = [stop1,stop2,stop3], travel_mode = "DRIVING")
fig.add_layer(path)
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,251,Griffith,US,79.39,broken clouds,41.5284,-87.4237,Apartment above Depot Bar
1,441,Evanston,US,74.52,overcast clouds,42.0411,-87.6901,Hilton Garden Inn Chicago North Shore/Evanston
2,203,Baraboo,US,75.34,overcast clouds,43.4711,-89.7443,Thunderbird Motor Inn
3,600,Dubuque,US,77.45,scattered clouds,42.4833,-90.8668,American Inn and Suites

In [55]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [56]:
# 11a. Add a marker layer for each city to the map.

step = 1.3 # used to center the map such that all 4 cities are visible
max_temp = itinerary_df['Max Temp']

fig = gmaps.figure(center=(start[0] + step, start[1]), zoom_level = 6) # center the map near the starting point
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))